.row{
    margin-left: 20px;
    color:#fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.posters::-webkit-scrollbar{
    display: none;
}


.postimage{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 450ms;
}
.smallposter{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 500ms;
    
}

.postimage:hover{
 
    transform: scale(1.09);
}
.smallposter:hover{
    
    transform: scale(1.2);
}